.header {
    // dla urządzeń moblinych

    position: relative;
    @include medium-up {
        padding-top: 62px;
    }
    & .flex {
        justify-content: space-between;
    }
    &__btn {
        display: none;

        @include medium-up {
            display: inline-block;
        }
    }
}
