.hero {
    background-image: url("/img/bg_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.container {
    margin: 0 auto;
    padding: 0 $grid-base * 1.5;

    &--full {
        max-width: 1440px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col {
    width: 100%;
    padding: $grid-base * 1.5;
    display: inline-block;

    &--md25 {
        @include medium-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    &--md33 {
        @include medium-up {
            flex: 0 0 33.3%;
            max-width: 33.3%;
        }
    }
    &--md50 {
        @include medium-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &--lg25 {
        @include large-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    &--lg33 {
        @include large-up {
            flex: 0 0 33.3%;
            max-width: 33.3%;
        }
    }
    &--lg50 {
        @include large-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &--hiden-sm {
        display: none;

        @include small-up {
            display: inline-block;
        }
    }
}
