.btn {
    background-color: $blue-dark;
    color: $white;
    padding: 16px 54px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    text-align: center;
    font-size: $font-size-8;
    font-weight: $font-weight-bold;
    border-radius: $border-radius-2;
    margin: 5px 0;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        color: $white;
        background-color: $blue-light;
        border-color: $blue-light;
        box-shadow: 0px 33px 58px rgba(22, 37, 50, 0.08), 0px 9.94853px 17.4853px rgba(22, 37, 50, 0.0430594),
            0px 4.13211px 7.2625px rgba(22, 37, 50, 0.0319383), 0px 1.4945px 2.6267px rgba(22, 37, 50, 0.0236976);
    }
}
