.navigation {
    &--desktop {
        display: none;
        margin-left: 915px;
        min-width: 750px;
        @include medium-up {
            display: block;

            & ul {
                display: flex;
                margin-top: -30px;
            }
            & li {
                margin: -15px;
            }
            & a {
                padding: 10px;
                margin: 0 56px;
                color: $gray-light;
                line-height: $line-height-menu;
                font-weight: $font-weight-light;
                transition: color 0.1s linear;
                font-size: $font-size-7;
                text-transform: uppercase;
                font-family: "Fira Code", sans-serif;

                &:hover {
                    color: $active;
                }
                &.active {
                    color: $active;
                }
            }
        }
    }

    &--mobile {
        background-color: $white;
        position: fixed;
        top: 0;
        right: 0;
        left: 20%;
        bottom: 0%;
        z-index: 20;
    }
}
.menu {
    display: flex;
    flex-direction: column;

    &__top {
        padding: 19px 24px;
        border-bottom: 1px solid $active;

        &-heading {
            font-size: 40px;
            color: $active;
            font-weight: $font-weight-bold;
        }
    }

    &__list {
        padding: 46px 24px 18px;
        border-bottom: 1px solid $active;

        & a {
            color: $gray-dark;
            display: block;
            margin-bottom: 28px;
            font-weight: $font-weight-bold;

            &:hover {
                color: $active;
            }
            &.active {
                color: $active;
            }
        }
    }
}
