*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
    height: 100%;

    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        font-size: $font-size-base;
    }
}

a,
li {
    text-decoration: none;
}
